RewriteEngine On

# Check if the URL does NOT already contain "/public/"
RewriteCond %{REQUEST_URI} !/public/

# If it doesn't, redirect everything into the public folder
RewriteRule ^(.*)$ public/$1 [L]